# Ignore sensitive files and temp storage
# dependencies
node_modules/

# environment variables
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# build outputs
dist/
build/

service-account.json
token.json
credentials.json
uploads/



